.Activities{
    display: flex;
    flex-direction: column;
    
    padding: 1rem 1.5rem;
    background: rgba(230, 230, 230, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 27px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.Activities .Title{
    font-size: 12px;
    margin-bottom: 1rem;
    display: flex;
}

.Activities .Activity-Images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
}

.Activities .Activity-Images .Image-Box{
    width: 100%;
}

.Activities .Activity-Images .Image-Box img{
    width: 100%;
}


@media only screen and (max-width: 1000px) {
    .Activities{
        width: 100%;
        margin: 0 auto;
    }
}