.SidebarMenu{
    display: flex;
    justify-content: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 27px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    
}

.SidebarMenu .Menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    
}

.SidebarMenu .Menu nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SidebarMenu .Menu ul{
    list-style: none;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.SidebarMenu .Menu ul li{
    margin: 0.2rem 0;
}

.SidebarMenu #Logo{
    width: 60%;
    margin-bottom: 1rem;
    
}

.SidebarMenu .Menu .Menu-Item{
    width: 20px;
}

.SidebarMenu .Menu .Menu-Item.Active{
    width: 40px;
}

@media only screen and (max-width: 1000px) {
    .SidebarMenu{
        width: 100%;
        margin: 0 auto;
    }
    .SidebarMenu .Menu{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 1rem 0;
        
    }

    .SidebarMenu .Menu ul{
        list-style: none;
        font-size: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    .SidebarMenu .Menu nav{
        width: 60%;
    }

    .SidebarMenu #Logo{
        width: 60%;
        max-width: 50px;
        margin-bottom: 1rem;
        
    }
}