.WeeklyForecast{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: rgba(230, 230, 230, 0.15);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 27px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position: relative;
}

.Forecast-List{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 10px;
    height: 70%;
}

.Forecast-List .List{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.Forecast-List .List .Day{
    font-size: 12px;
    font-weight: lighter;
}

.Forecast-List img{
    width: 40px;
    height: 40px;
}

button{
    height: 100px;
    width: 15px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.Forecast-List {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .List {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@media only screen and (max-width: 1000px) {
    .WeeklyForecast{
        width: 100%;
        margin: 0 auto;
    }

    .Forecast-List{
        display: grid;
        grid-template-columns: repeat(7, 40px);
        column-gap: 10px;
        height: 70%;
        margin: 0 auto;
    }

    .Forecast-List img{
        width: 20px;
        height: 20px;
    }
    .Forecast-List .List .Day{
        font-size: 10px;
        font-weight: lighter;
    }
}
