.App{
  width: 1000px;
  max-width: 1000px;
  height: 600px;
  background-color: rgb(230, 230, 230);
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('./Images/Background.svg');
  background-position: center;
  background-size: cover;
}

.Top-Section{
  display: grid;
  grid-template-columns: 6fr 4fr;
  height: 200px;
}

.Bottom-Section{
  height: 400px;
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  margin: 1rem 0;
}

.Date{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bottom-Mid-Section{
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
}