.App{
  width: 1000px;
  max-width: 1000px;
  height: 600px;
  background-color: rgb(230, 230, 230);
  border-radius: 27px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('./Images/Background.svg');
  background-position: center;
  background-size: cover;
}

.Top-Section{
  display: grid;
  grid-template-columns: 6fr 4fr;
  height: 200px;
}

.Bottom-Section{
  height: 400px;
  display: grid;
  grid-template-columns: 1.5fr 6fr 4fr;
  column-gap: 10px;
  margin: 1rem 0;
  padding: 0 2rem;
}

.Date{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Bottom-Mid-Section{
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 10px;
}

@media (max-width: 1000px) {
  .Top-Section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: auto;
    
  }

  .App{
    width: 100%;
    height: auto;
    padding-top: 50px;
  }

  .Bottom-Section{
    height: auto;
    grid-template-columns: 1fr;
    row-gap: 20px;
    
  }
}